/* General styles */
* {
  font-family: "Poppins", sans-serif;
}

body {
  display: block;
  place-items: center;
  background-color: black;
  background: linear-gradient(rgba(0, 0, 2, 0.5), rgba(0, 0, 0, 0.4)), center,
    url("assets/BlueRidge_mountains.png");
  background-position: center;
}

/* General styles */

/* Header styles */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 100px 0px 100px;
  margin-bottom: 60px;
  gap: 60px;
  background-color: #1b1b1b;
  flex-direction: row;
  border-radius: 20px;
  /*border: 3px red solid;*/
}
.iconinclude {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #1b1b1b;
}
.lister {
  display: flex;
  list-style: none;
  gap: 70px;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 20px 0px 20px 0px;
  background-color: #1b1b1b;
}

.lister li a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  font-weight: 100;
  background-color: black;
}

.navbar .icon {
  background-color: #1b1b1b;
  /*border: 2px solid brown;*/
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 100px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.navbar .icon .iconbx {
  background-color: #1b1b1b;
  width: 25px;
  height: 20px;
  display: grid;
  place-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Header styles */

/* Hero styles */
.overall {
  margin: 0;
  height: 100%;
  width: 1000px;
  /*border: red solid 5px;*/
  /*background: linear-gradient(rgba(0, 0, 2, 0.5), rgba(0, 0, 0, 0.4)),
    url("assets/BlueRidge_mountains.png");*/

  justify-content: center;
  align-items: center;
  background-size: cover;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  /*border: 1px solid white;*/
  gap: 70px;
}

.hero .content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.hero .content .name {
  font-size: 2.5em;
  color: White;
  margin: 20px 20px 15px 0px;
  text-align: left;
  padding: 20px 0 0 0;
}

.hero .content p {
  font-size: 1em;
  color: lightgray;
  margin: 5px 20px 5px 0px;
  text-align: left;
}

.hero .content .btn {
  width: 40%;
  font-size: 1.2em;
  font-weight: 500;
  color: white;
  background-color: green;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
  padding: 21px 34px 21px 34px;
}

.hero .box {
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  width: 350px;
  height: 350px;
  border: solid lightblue;
  margin-top: 10px;
}
.hero .box img {
  width: 100%;
  height: 100%;
}

/* Hero styles */

/* Footer styles */

.footer {
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: row;
  /*border: solid brown 3px;*/
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px 20px 30px 20px;
  margin: 30px;
}
.prefooter h4 {
  width: 150px;
  height: 18px;
  color: white;
  font-size: 1.4em;
  font-weight: 5;
  padding: 50px 0px 0px 0px;
  text-align: left;
}
.footer::before {
  content: "Worked with";
  position: absolute;
  top: -30px; /* Moves it above the box */
  left: 0;
  width: 100%;
  text-align: left;
  font-weight: bold;
  color: white;
}
.footer .imgbx {
  width: 140px;
  height: 60px;
  background: #1b1b1b;
  border: 1px solid #1b1b1b;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: grid;
  place-items: center;
}
/* hamburger menu */

.menu-toggle {
  color: white; /* White icon color */
  font-size: 24px; /* Icon size */
  cursor: pointer; /* Pointer cursor on hover */
  display: none; /* Hide by default (visible only on mobile) */
}
/* Media Query for Mobile View */
@media (max-width: 768px) {
  /* Show the hamburger icon */
  .menu-toggle {
    display: block; /* Show icon only in mobile view */
  }

  /* Hide the menu by default in mobile view */
  .navigation {
    display: none; /* Hide menu */
    flex-direction: column; /* Stack items vertically */
    position: absolute; /* Position relative to navbar */
    background-color: #333; /* Same background as navbar */
    top: 60px; /* Position below the navbar */
    left: 0;
    right: 0;
    z-index: 1; /* Stay on top of other elements */
    padding: 20px 0; /* Padding around menu items */
  }

  /* Show the menu when active */
  .navigation.active {
    display: flex; /* Display menu */
  }

  /* Adjust the menu list for mobile */
  .navigation ul {
    flex-direction: column; /* Stack list items vertically */
    align-items: center; /* Center items horizontally */
  }

  /* Adjust menu items for mobile */
  .navigation li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: 100;
    background-color: black;
  }
}
